<div class="main-div"> 
   <mat-card class="my-card mt-5">
      <mat-card-content>
       <mat-card-title>
          Registration
       </mat-card-title>
           <mat-card-content>
              <form class="my-form centerForm" >
                <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input  matInput  placeholder="Username"  name="uname"  required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Twitter Username</mat-label>
                  <input  matInput  placeholder="Twitter Username" name="tname"  required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input  matInput  placeholder="Email" name="email">
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput  placeholder="Password"  name="password" required>
               </mat-form-field>
              </form>
           </mat-card-content>
           <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">R E G I S T E R</button>
           </mat-card-actions>
      </mat-card-content>
    </mat-card>
</div>
