.inputValues {
    text-align: center;
}

.outputValues {
    text-align: left;
}

.card {
    width: 50%;
}

.card-text {
    font-size: 18px;
    margin: 2px;
}

.input-group-text {
    font-size: 18px;
    font-weight: bold;
}