<div class="inputValues row justify-content-center align-items-center h-100">
    <div class="col-md-6 mt-5">
        <form  #form="ngForm" autocomplete="off" (submit)="onGetAllTweets(link)">
            <div class="md-form">
              <input  placeholder="Enter thread link" name="threadlink" #linkname="ngModel" [(ngModel)]="link"
              type="text" class="form-control"  required minlength="4">
              <button  class="btn btn-outline-primary mt-3 mr-1 flex "  type="submit" >Get thread</button>
              <button type="button" class="btn btn-outline-primary mt-3 flex" (click)="onClear()">Clear</button>
              <button type="button" class="btn btn-outline-primary mt-3 flex" (click)="getArrayObject(allThread)">Test</button>
            </div>
          </form>
    </div> 
</div> 
<div *ngIf="allThread != undefined" class="outputValues mt-3">
  <div class="card border-primary mb-3 mx-auto">
    <div class="card-header">@{{allThread.userScreenName}}</div>
    <div class="card-body">
      <h4 class="card-title">{{allThread.userName}}</h4>
      <p class="card-text">{{allThread.tweetText}}</p>
      <div *ngIf="allThread.mediaUrl != null">
        <img src="{{allThread.mediaUrl[0].mediaUrl}}" width="100%" height="100%" alt="User picture"> 
      </div>
    </div>
  </div>
  <div *ngIf="allThread.replies != null" >
    <ng-container *ngTemplateOutlet="replyThread; context: { $implicit: allThread.replies }"></ng-container>
    <ng-template #replyThread let-childReplies>
      <ul>
          <li *ngFor="let reply of childReplies">
            <div class="card mb-3 border-primary mx-auto">
              <div class="card-header">@{{reply.userScreenName}}</div>
              <div class="card-body">
                <h4 class="card-title">{{reply.userName}}</h4>
                <p class="card-text">{{reply.tweetText}}</p>
                <div *ngIf="reply.mediaUrl != null">
                  <img src="{{reply.mediaUrl[0].mediaUrl}}" width="100%" height="100%" alt="User picture"> 
                </div>
              </div>
            </div>
            <ng-container *ngIf="reply.replies">
              <ng-container *ngTemplateOutlet="replyThread; context: { $implicit: reply.replies }"></ng-container>
            </ng-container>
          </li>
      </ul>
    </ng-template>
  </div>
</div>

<div class="m-4">
  <angular-org-chart id="orgChartId" [data]="orgData"></angular-org-chart>
</div>