<div class="row justify-content-center align-items-center h-100">
    <div class="col-md-6 mt-5">
        <form  #form="ngForm" autocomplete="off" (submit)="onGetAllTweets(link)">
            <div class="md-form">
              <input  placeholder="Enter thread link" name="threadlink" #linkname="ngModel" [(ngModel)]="link"
              type="text" class="form-control"  required minlength="4">
              <button  class="btn btn-outline-primary mt-3 mr-1 flex "  type="submit" >Get thread</button>
              <button type="button" class="btn btn-outline-primary mt-3 flex" (click)="onClear()">Clear</button>
            </div>
          </form>
    </div> 
    <div *ngIf="allThread != undefined" class="mt-3">
      <p>{{allThread.tweetText}}</p>
      <div *ngIf="allThread.replies != null" >
        <ul *ngFor="let reply of allThread.replies">
          <li>
            <div class="card border-primary mb-3 mx-auto">
              <div class="card-header">@{{reply.userScreenName}}</div>
              <div class="card-body">
                <h4 class="card-title">{{reply.userName}}</h4>
                <p class="card-text">{{reply.tweetText}}</p>
                <div *ngIf="reply.mediaUrl != null">
                  <img src="{{reply.mediaUrl[0].mediaUrl}}" width="100%" height="100%" alt="User picture"> 
                </div>
              </div>
            </div>
            <p></p>
          </li>
        </ul>
      </div>
    </div>
</div> 

