.main-div{
    text-align:center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    // center card !!
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }

.sign-button{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}