<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

    <a class="navbar-brand" [routerLink]="['/home']">Twitter Dealer</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/threadmessages']" >Get Thread Messages</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/userthread']">Get User Thread</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" dropdown >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle> Get User Data</a>
        
            <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/usertweets']">Get User Tweets</a>
            <a class="dropdown-item" [routerLink]="['/usermedia']">Get User Media</a>
            <a class="dropdown-item" [routerLink]="['/userinfo']">Get User Info</a>
            </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">Members</a>
        </li>
    </ul>

        
    
    
    <div *ngIf="loggedIn()" class="dropdown" dropdown >
        <a class="dropdown-toggle text-light" dropdownToggle> Welcome {{authService.decodedToken?.unique_name | titlecase}}</a>
        
        <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </div>

        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline ml-5" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" #username="ngModel"
                placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password" #password="ngModel"
                placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-secondary " 
                gradient="purple" rounded="true" >Login</button>
    </form>
</div>
       
</nav>
