@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/lux/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import "~@mondal/org-chart/_theming.scss";

/* Tabset styles */

.tab-panel {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #9e9b9b;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #333333;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }

/* Org chart styles */
  
#orgChartId .org-chart-entity-box {
  align-items: center ;
  width: 550px;
  height: 100%;
  border: 1px solid black ;
  background-color: white ;
  border-radius: 3px;
  color: black;
  box-shadow: 0 .5rem 1rem #777!important;
  word-wrap:break-word !important;
  white-space: pre-wrap;
  text-align: center;
}

  
#orgChartId .org-chart-entity-userName{
  color: black;
  font-size: 18px;
  width: 100%;
  word-wrap:break-word !important;
  text-align: center;
}

#orgChartId .org-chart-entity-userScreenName {
  color: black;
  font-size: 18px;
  width: 100%;
  word-wrap:break-word !important;
  text-align: center;
}


#orgChartId .org-chart-entity-border {
  border-left: 1px solid black;
  border-top: 1px solid black;
  word-wrap:break-word !important;
}

#orgChartId .org-chart-entity-connector {
  height: 2em;
  word-wrap:break-word !important;
}