/* Custom scss dark theme for app */
@import '~@angular/material/theming';
@include mat-core();
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 28px; // temp font - fix later
    background-color: rgb(32, 31, 29);
}

#toast-container > div {
    opacity: 1;
}
