.inputValues {
    text-align: center;
}

.outputValues {
    text-align: left;
}

.card {
    width: 50%;
}

.card-text {
    font-size: 18px;
    margin: 2px;
}

.input-group-text {
    font-size: 18px;
    font-weight: bold;
}

  
div.elseBlock {
    text-align: center;
}

div.li-elem {
    text-align: center;
}

img { 
    width: 85%; 
    height: 85%; 
    max-width:600px;
    max-height:800px;
}

a {
 font-size: 20px;
}